/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#topbar {
	background-color: #51473d;
	color: #eae7d2;
	font-family: verdana;
	font-size: 15px;
	font-style: italic;
	padding: 2px;
	padding-left: 770px;
}

#menu {
	background-color: #51473d;
	float: left;
	margin-top: 306px;
	width: 960px;
	
}

/*skip navigation*/
#menu a:first-child {
	color: #51473d;
	
}

#menu ul {
	display: block;
	padding: 15px;
	width: 800px;
	margin: 0px;
}

#menu li {
	float: left;
	background-color: #797066;
	color: #797066;
	padding: 20px;
	list-style-type: none;
	border-right: 1px solid #51473d;
	text-transform: capitalize;

}
/*menylänkar*/
#menu li.active {
	color: #797066;
	text-decoration: none;
	background-color: #eae7d2;
	padding: 20px;
}

#menu li:hover {
	background-color: #9c9084;
	padding: 20px;
}

#menu li a:link {
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}
#menu li a:visited {
	color: #eae7d2;
	text-decoration: none;
}
#menu li a:focus {
	color: #9c9084;
	text-decoration: none;
}
#menu li a:hover {
	color: #eae7d2;
	text-decoration: none;
}
#menu li a:active {
	color: #797066;
	text-decoration: none;
}

#container {
	background-image: url("pics/coffey.jpg");
	background-size: 100% auto;
	background-position: 0px 10px;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
}

#content {
	background-color: #eae7d2;
	
	width: 960px;
	float: left;
}

#maincontent {
	width: 520px;
	float: left;
	padding: 15px;
	margin-top: 5px;
	
}

#maincontent h1 {
	font-family: times new roman;
	font-weight: normal;
	color: #797066;
}

#maincontent p {
	font-family: verdana;
	font-size: 18px;
	margin: 0;
	color: #797066;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 23px;
}

#maincontent img {
	float: left;
	padding: 5px;
}


#subcontent {
		border-left: 1px dashed #797066;
	margin-right: 10px;
	float: right;
	width: 345px;
	margin-top: 20px;
	padding: 15px;
}

#subcontent h1 {
	font-family: new times roman;
	font-weight: normal;
	font-size: 25px;
	color: #51473d;
}

#subcontent h2 {
	font-family: new times roman;
	font-weight: normal;
	font-size: 20px;
	color: #51473d;
	margin: 0;
}

#subcontent p {
	font-family: verdana;
	font-size: 14px;
	color: #51473d;
	word-spacing: 1px;
	letter-spacing: 1px;
	line-height: 28px;
	
}

#subcontent a {
	color: #51473d;
}

#subcontent ul {
	padding: 0;
	margin: 0;
	
}

#subcontent li {
	list-style-type: none;
	font-family: verdana;
}

#bottomcontent {
	width: 930px;
	float: left;
	padding-left: 18px;
	padding-bottom: 10px;
	color: #797066;
	font-family: verdana;
	font-size: 14px;
	font-style: italic;
}

