/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#topbar {
	background-color: #51473d;
	
}

#menu {
	background-color: #51473d;
	float: left;
	margin-top: 299px;
	width: 960px;
}

#menu ul {
	display: block;
}

#menu li {
	float: left;
	list-style-type: none;
	background-color: lime;
	margin: 5px;
}

#menu li a {
	background-color: pink;
	padding: 10px;
}

#container {
	background-image: url("pics/coffey.jpg");
	background-size: 100% auto;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
}

#content {
	background-color: #eae7d2;
	border: 1px outset #51473d;
	width: 958px;
	float: left;
}

#maincontent {
	border-right: 2px dashed #51473d;
	width: 570px;
	float: left;
}

#subcontent {
	float: right;
	width: 350px;

}

#bottomcontent {
	width: 958px;
	float: left;
}