/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#topbar {
	background-color: #FFF;
	border: 1px solid #000;
}

#menu {
	background-color: #FFF;
	border: 1px solid #000;
	float: left;
	margin-top: 100px;
}

#menu li {
	float: left;
}

#container {
	background-color: #FFF;
	border: 1px solid #000;
	overflow: auto;
	width: 960px;
	margin: 0 auto;
}

#content {
	background-color: #FFF;
	border: 1px solid #000;
	width: 958px;
	float: left;
}

#maincontent {
	border-right: 2px dotted #000;
	width: 570px;
	float: left;
}

#subcontent {
	float: right;
	width: 350px;

}

#bottomcontent {
	width: 958px;
	float: left;
}